body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px
}

#banner{
    width: 100%;
    text-decoration: none;
    background: #C4C4C4;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: 100%;
}
#games{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.card{
    text-decoration: none;
    width: 292px;
    height: 197px;
    border-radius: 30px;
}
